*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
body{
  margin: 0;
}
html{
    font-size:7.5px;
    line-height:1.25;
    color:#212121
}
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: white;
    background-color: none;
  }
  
/*langdisplay*/
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
      
        background-color: #101014;

    }
    .banner{
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: 450px;
        max-height: 450px;
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        
    }
   

    .thumbnail{
        object-fit: cover;
        width: 300px;
        max-width: 100%;
        height: 300px;
        max-height: auto;
        border-radius: 8px;
        padding: 2px;
       
    }
    .textparent{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color:#151515a7;
        border-radius: 8px;
    }
    .container:hover .textparent{
      opacity: .8;
      cursor: pointer;
        
    }

    .preview-box{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        
    }
    .text{
        font-size: 50px;
        position: absolute;  
        left: 50%;                        /* horizontal alignment */
        top: 50%;                         /* vertical alignment */
        transform: translate(-50%, -50%); /* precise centering; see link below */
    }
    .container{
        position: relative;
    }

    .navmenu{
      position: sticky;
      top: -1px;
      z-index: 10;
      
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      font-size: xx-large;


      width: 100%;
      height: auto;
      padding: 10px;
      background-color: black;
      margin-bottom: 10px;

      
    }
    .navmenu a{
      color: inherit;
      opacity: .5;
      text-decoration: none;
      transition: .5s;

    }
    .navmenu a:hover{
      color: inherit;
      opacity: 1;
      text-decoration: none;    
    }
    .navmenu-item{
      transition: 1s;
    
    }
    .navmenu-item:hover{
      transition: 1s;
      transform: scale(1.1);
    }

    .bodymargin{
      display: flex;
      flex-direction: column;
      margin: 10px;
     
    }
    .footer{
      /* position: fixed;
      bottom: 0;  */
      display: flex;
      justify-content: space-evenly;
      font-size: xx-large;
      width: 100%;
      height: auto;
      padding: 10px;
      background-color: black;
      
    }
    .sm-icon{
      width: 30px;
      height: auto;
      opacity: .4;
      transition: 1s;
      cursor: pointer;
    }
    .sm-icon:hover{
      
      width: 40px;
      height: auto;
      opacity: 1;
    }
    


/* animations */
@keyframes fadeInUp {
    0% {
      transform: translateY(15%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes fadeInUpDelay {
    0% {
      transform: translateY(15%);
      opacity: 0;
    }
    50%{
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInUp{
    animation: .6s fadeInUp;
  }
  .fadeInUpDelay{
    animation: 1.2s fadeInUpDelay;
  }


/* Breakpoints */
@media only screen and (max-device-width: 950px){
    .thumbnail{
        object-fit: cover;
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}









































